body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  max-height: 100vh;
  background: #012;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

nav > ul {
  display: flex;
  justify-content: space-around;
}

nav > ul > li > a {
  text-decoration: none;
  color: #ff4656ff;
}

h1 {
  color: #ff4656ff;
  text-transform: uppercase;
  font-size: 50px;
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-height: 90vh;
  background: #012;
  margin-top: 50px;
}

section > div {
  width: 10%;
  margin: 5px 10px;
  clip-path: polygon(15% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 15%);
  border: 1.5px solid #fff;
  background: #ff4656;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

section > div:hover {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 15%);
  background: #cfedff;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4656ff;
  border-radius: 10px;
}
