body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  max-height: 100vh;
  background: #012;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

nav > ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: #ff4656ff;
  margin-right: 1.5rem;
  
}

h1 {
  color: #ff4656ff;
  text-transform: uppercase;
  font-size: 50px;
  margin-top: 2.5rem;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.left-section {
  width: 65%;
  max-height: 90vh;
  overflow-y: scroll;
}

.left-section img {
  text-align: center;
  width: 95%;
}

.right-section {
  width: 35%;
  padding: 0 15px;
  max-height: 90vh;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4656ff;
  border-radius: 10px;
}

h2 {
  color: #2196f3ff;
  text-align: start;
  margin: 0;
}

h3 {
  color: rgb(255, 255, 255);
  text-align: start;
  margin: 0;
  padding: 0;
}

h3 > span {
  color: #ff4656ff;
  text-align: start;
  margin: 0;
  padding: 0;
}

.right-section > ul {
  width: 100%;
  margin: 0;
  padding: 0;
  margin: 15px 0;
}

.right-section ol {
  margin: 0;
  padding: 0;
  margin: 15px 25px;
}

.right-section > ul > li {
  list-style: none;
  margin: 0;
  text-align: start;
  color: #fff;
}

.right-section ul > li > ol > li {
  margin: 0;
  text-align: start;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  nav {
    background-color: rgb(55, 240, 163);
    position: absolute;
    width: 100%;
  }

  nav > ul {
    padding: 0;
    
  }
  
  nav > ul > li > a {
    margin-right: 1rem;
    font-weight: bold;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 3.8rem;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 1.5rem;
  }

  .left-section {
    width: 85%;
    max-height: 90vh;
    overflow-y: scroll;
    margin-bottom: 1.5rem;
  }
  
  .left-section img {
    text-align: center;
    width: 95%;
  }
  
  .right-section {
    width: 65%;
    text-align: center;
  }
  
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
}