body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  max-height: 100vh;
  background: #012;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}
nav > ul {
  display: flex;
  justify-content: space-around;
}

nav > ul > li > a {
  text-decoration: none;
  color: #ff4656ff;
}

h1 {
  color: #ff4656ff;
  text-transform: uppercase;
  font-size: 50px;
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-height: 90vh;
  background: #012;
  margin-top: 50px;
}

section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 40vh;
  margin: 15px 10px;
  border: 1.5px solid #fff;
  background: #ff4656;
  cursor: pointer;
  transition: all 0.5s;
}

a {
  text-decoration: none;
}

h2 {
  background-color: #012;
  padding: 5px 15px;
  text-transform: uppercase;
  color: #ff4656;
  border-radius: 3px;
}

section > div:hover {
  opacity: 75%;
  & h2 {
    color: rgb(255, 255, 255);
    background-color: #ff4656;
    opacity: 125%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4656ff;
  border-radius: 10px;
}
